<footer class="main-footer">
  <div class="float-end d-none d-sm-inline">
    <!-- Right-aligned content (e.g., version number) -->
    <strong>ExpenseTracker v1.0</strong>
  </div>
  <!-- Default to the left -->
  <strong>
    Copyright &copy; 2025
  </strong>
  All rights reserved.
</footer>