/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last @import statement.
 *
 * @import "bootstrap";
 * @import "bootstrap-icons";
 * @import "your_other_stylesheet"; // Add other stylesheets here if needed
 */
 /* Custom styles for the dashboard */
.small-box {
    border-radius: 0.25rem;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .small-box > .inner {
    padding: 10px;
  }
  
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
  
  .small-box p {
    font-size: 15px;
  }
  
  .small-box .icon {
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
  
  .small-box:hover .icon {
    font-size: 95px;
  }
  
  .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .small-box-footer:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.15);
  }